/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/**
 * HTML elements
 **/
body {
  background: #ffffff;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
  color: #2f2c2b;
}

a, a:link, a:visited {
  text-decoration: none;
}

/**
 * Sections
 **/
header#section-header {
  background: #3a3636;
  color: white;
}

footer#section-footer {
  background: #3a3636;
  color: white;
  min-height: 135px;
}


/** 
 * Zones
 */


/**
 * Regions
 **/


/**
 * Blocks
 **/

/** Logo **/
.block-logo {
  margin-left: -10px;
}

/* Service Menu */
.block-service-menu { 
  margin-top: 50px;
}

.block-service-menu ul {
  float: right;
}

.block-service-menu ul li {
  list-style: none;
  float: left;
	text-transform: uppercase;  
}

.block-service-menu ul li a {
  color: white;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
}

.block-service-menu ul li a.active,
.block-service-menu ul li.active a,
.block-service-menu ul li a:hover {
  color: #ed0973;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
}

/* Main Menu */
.block-main-menu {
  margin-top: 80px;
}

.block-main-menu ul {
}

.block-main-menu ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.block-main-menu ul li a {
  display: block;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  text-transform: uppercase;
  border-right: 1px solid #3a3636;
  padding: 0 10px;
  background: #302c2c;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.block-main-menu ul li a.active,
.block-main-menu ul li.active a,
.block-main-menu ul li a:hover {
  background: #ed0973;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.block-main-menu ul li.last a {
  border-right: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;	
}

.block-main-menu ul li.first a {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;	
}


/** Top Text **/
.block-top-text {
  margin-top: 20px;
}

.block-top-text h1 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 3.143em;
  line-height: 1;
  font-weight: 100;
  margin-bottom: 0;
}

.block-top-text p {
  text-align: right;
  margin-bottom: 0;
}

/**
 * ARCHIVE STYLES 
#block-block-4 {
  text-align: justify;
}

#block-block-4 h1 {
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
  margin-bottom: 10px;
  text-align: justify;
}

#block-block-4 p {
  margin-bottom: 4px;
}

#webform-client-form-1 {
  margin-top: 50px;
}

#webform-client-form-1 .form-text {
  width: 100%;
  border: 1px solid #ededed;
	color: #2f2c2b;
	padding: 8px;
	height: 30px;
	line-height: 30px;
}

#webform-client-form-1 .form-file {
  color: #2f2c2b;
}

#webform-client-form-1 #edit-actions .form-submit {
  background: #ee0874;
  border: none;
  font-size: 17px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: right; 
  padding: 8px 15px;
  text-shadow: none;
  text-transform: uppercase;
  margin-right: 0;
  margin-bottom: 15px;
}

#block-menu-menu-service-menu {
  margin-top: 30px;
  margin-bottom: 20px;
}

#block-menu-menu-service-menu ul {
  margin: 0;
  padding: 0;
}

#block-menu-menu-service-menu ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  height: 40px;
  line-height: 40px;
}

#block-menu-menu-service-menu ul li a#link-splus {
  display: block; 
  text-indent: -999em;
  overflow: hidden;
  background: url(../img/link-splus.png) no-repeat left top;
  width: 265px;
  height: 40px;
}

#block-menu-menu-service-menu ul li.last {
  float: right;
  margin-top: -5px;
}

#block-menu-menu-service-menu ul li.last a {
  background: #ee0874;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: right; 
  text-shadow: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1px 15px;
	-moz-transition: all 0.4s; 
	-webkit-transition: all 0.4s; 
	-o-transition: all 0.4s; 
  
}

#block-menu-menu-service-menu ul li.last a:hover {
  background: white;
  color: #2f2c2b;
  transition: all 0.4s;
	-moz-transition: all 0.4s; 
	-webkit-transition: all 0.4s; 
	-o-transition: all 0.4s; 
}

*/