/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/**
 * HTML elements
 **/
body {
  background: #ffffff;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
  color: #2f2c2b;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #ed0973;
}

a:hover {
  color: #000000;
}

a.button, a.button-large, a.button-small {
  color: white;
  background: #ed0973;
  display: block;
  padding: 4px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

a:hover.button, a:hover.button-large, a:hover.button-small {
  background: white;
  color: #ed0973;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

a.button-small {
    height: 25px;
    line-height: 25px;    
}

a.button-large {
  font-size: 1.412em;
  height: 35px;
  line-height: 35px;
}

h1#page-title {
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: #ed0973;
  font-size: 30px;
  font-weight: 100;
  line-height: 1.2;
}

h2 {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

/**
 * Sections
 **/
header#section-header {
  background: #3a3636;
  color: white;
  height: 395px;
  padding-top: 10px;
}

footer#section-footer {
  background: #3a3636;
  color: white;
  min-height: 135px;
  margin-top: 30px;
}

section#section-content {
  margin-top: 10px;
}


/** 
 * Zones
 */


/**
 * Regions
 **/


/**
 * Blocks
 **/

.block {
  line-height: 1.3;
}

/** Logo **/
.block-logo {
  margin-left: -10px;
}

/* Service Menu */
.block-service-menu { 
  margin-top: 50px;
}

.block-service-menu ul {
  float: right;
}

.block-service-menu ul li {
  list-style: none;
  float: left;
	text-transform: uppercase;  
}

.block-service-menu ul li a {
  color: white;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
}

.block-service-menu ul li a.active,
.block-service-menu ul li.active a,
.block-service-menu ul li a:hover {
  color: #ed0973;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
}

/* Main Menu */
.block-main-menu {
  margin-top: 60px;
}

.block-main-menu ul {
}

.block-main-menu ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.block-main-menu ul li a {
  display: block;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  text-transform: uppercase;
  border-right: 1px solid #3a3636;
  padding: 0 10px;
  background: #302c2c;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.block-main-menu ul li a.active,
.block-main-menu ul li.active a,
.block-main-menu ul li a:hover {
  background: #ed0973;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.block-main-menu ul li.last a {
  border-right: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;	
}

.block-main-menu ul li.first a {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;	
}


/** Top Text **/
.block-top-text {
  margin-top: 20px;
}

.block-top-text h1 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 3.143em;
  line-height: 1;
  font-weight: 100;
  margin-bottom: 0;
}

.block-top-text p {
  text-align: right;
  margin-bottom: 0;
}


/** Generic blocks: deelnemers, prijzen, partners, twitter **/
.block-deelnemers,
.block-prijzen,
.block-partners,
.block-twitter,
.block-prijzen-small,
.block-partners-small {
    width: 300px;
    height: 350px;
    background: #3a3636;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
}

.block-prijzen-small,
.block-partners-small {
  height: 230px;
}

.block-deelnemers {
  height: 290px;
}

.block-deelnemers .block-inner {
    padding: 10px;
}

.block-prijzen .block-inner,
.block-prijzen .block-inner {
  padding: 10px 12px;
}

.block-prijzen .view-prijzen ul li,
.block-prijzen .view-prijzen ul li {
  background: none;
}

.block-prijzen .view-prijzen ul li .image {
  margin-bottom: 5px;
} 

.block-partners .block-inner {
  padding: 10px 12px;
}

.block-partners .view-partners ul li .image {
  margin-bottom: 5px;
}

.block-twitter .block-inner {
  padding: 10px 12px;
}

.block-deelnemers h2.block-title,
.block-prijzen h2.block-title,
.block-partners h2.block-title,
.block-twitter h2.block-title,
.block-prijzen-small h2.block-title,
.block-partners-small h2.block-title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Myriad Pro";
}


/** Block Deelnemers **/
.block-deelnemers ul.list {
  list-style: none;
}

.block-deelnemers ul.list li {
  width: 65px;
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
}

.block-deelnemers ul.list li.last {
  margin-right: 0;
}

/** Footer **/
.block-footer {
  margin-top: 25px;
  text-align: center;
}

.block-footer a:link,
.block-footer a:visited {
  color: #ed0793;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.block-footer a:hover {
  color: white;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

/** Homepage Main Text **/
body.front #block-system-main {
    width: 620px;
    height: 290px;
    background: #ebeaea;
    float: left;
    margin-right: 20px;
    border-radius: 10px;
}

body.front #block-system-main .block-inner {
    margin: 10px 12px;
}

body.front #block-system-main h2 {
    font-size: 26px;
    line-height: 1;
    color: #ed0973;
    font-weight: 100;
    margin-bottom: 15px;
}

body.front #block-system-main p {
  margin-bottom: 10px;
  font-size: 12px;
}

body.front #block-system-main p.pink {
    color: #ed0973;
}

body.front #block-system-main a.button-large {
    width: 38%;
    float: left;
    text-align: center;    
    margin-right: 20px;
}

/** Homepage Blokken Deelnemers - Prijzen - Partners - Twitter **/
body.front .block-deelnemers {
    float: left;
}

body.front .block-prijzen,
body.front .block-partners,
body.front .block-twitter {
    float: left;
    margin: 20px 20px 20px 0;
}

body.front .block-twitter {
  margin-right: 0;
}


/** User (Registration/Edit) pages **/
.page-user .region-content {
  background: #ebeaea;
  border-radius: 10px;
}

.page-user .region-content .region-content-inner {
  margin: 20px;
}

.page-user h2.legend {
  color: #ed0973;
  margin: 20px 0 0 0;
  font-size: 22px;
  font-weight: 100;
}

.page-user div.separator {
  border-bottom: 1px solid #cdcccc;
  height: 1px;
}

.page-user .form-text,
.page-user .form-textarea {
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
  width: 350px;
}

.page-user .field-name-field-reglement .form-required {
  display: none;
}

.page-user .field-name-field-nieuws label,
.page-user .field-name-field-reglement label {
  display: none;
}

.page-user .field-name-field-nieuws label.option,
.page-user .field-name-field-reglement label.option {
  display: inline;
}

.page-user .form-submit {
  border: none;
  text-shadow: none;
  color: white;
  background: #ed0973;
  display: block;
  padding: 4px 80px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
  font-size: 1.412em;
  height: 35px;
  line-height: 35px;
  font-weight: 100;
}

.page-user .form-submit:hover {
  background: white;
  color: #ed0973;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}


/** Kandidaten pages **/
.page-kandidaten .region-content {
  background: #ebeaea;
  border-radius: 10px;
}

.page-kandidaten .region-content .region-content-inner {
  margin: 20px;
}

.page-kandidaten ul.list-kandidaten {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-kandidaten ul.list-kandidaten li {
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 12px;
  margin-bottom: 20px;
  position: relative;
  height: 170px;
}

.page-kandidaten ul.list-kandidaten li.last {
  margin-right: 0;
}

.page-kandidaten ul.list-kandidaten li .image img {
  border-radius: 4px; 
}

.page-kandidaten ul.list-kandidaten li .vote {
  position: absolute;
  left: 0;
  bottom: 0;
}

.page-kandidaten ul.list-kandidaten li .vote a {
  display: block;
  background: #ed0973;
  color: white;
  font-weight: 100;
  padding: 4px 12px;
  text-transform: uppercase;
  border-radius: 4px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.page-kandidaten ul.list-kandidaten li .vote a:hover {
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	color: #ed0973;
	background: #ffffff;
}

.page-kandidaten ul.list-kandidaten li .number-of-votes {
  position: absolute;
  right: 4px;
  bottom: 5px;
  font-weight: 800;
}

/** Prijzen pages **/
.context-prijzen h1#page-title {
  display: none;
}

.view-prijzen ul {
  margin: 0;
  padding: 0;
}

.view-prijzen ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #eceaeb;
  border-radius: 5px;
}

.view-prijzen ul.hoofdprijzen li {
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.view-prijzen ul.hoofdprijzen li .image {
	float: left;
	margin-right: 10px;
}

.view-prijzen ul.hoofdprijzen li .image img {
  border-radius: 5px;
}

.view-prijzen ul.hoofdprijzen li .title {
  font-size: 22px;
  font-weight: 100;
  color: #ed0973;
}

.view-prijzen ul.hoofdprijzen li .teaser {
  font-weight: 800;
  margin-bottom: 10px;
}

.view-prijzen ul.hoofdprijzen li .body {
  margin-bottom: 10px;
}

.view-prijzen ul.hoofdprijzen li .link {
  position: absolute;
  bottom: 10px;
  left: 295px;
}

.view-prijzen ul.hoofdprijzen li .link a {
  display: inline-block;
  background: #ed0973;
  color: white;
  padding: 6px 10px;
  text-transform: uppercase;
  border-radius: 4px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.view-prijzen ul.hoofdprijzen li .link a:hover {
  background: white;
  color: #ed0973;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}


.view-prijzen ul.inschrijvingsprijzen li {
  width: 180px;
  padding: 10px;
  float: left;
  margin-right: 10px;
  min-height: 280px;
}

.view-prijzen ul.inschrijvingsprijzen li.last {
  margin-right: 0;
}

.view-prijzen ul.inschrijvingsprijzen li .image {
  margin-bottom: 5px;
}

.view-prijzen ul.inschrijvingsprijzen li .image img {
  border-radius: 4px;
}

.view-prijzen ul.inschrijvingsprijzen li .title {
  font-size: 18px;
	font-weight: 100;
}

.view-prijzen ul.inschrijvingsprijzen li .teaser {
  font-weight: 800;
  margin-bottom: 10px;
}


/** Partner Pages **/
.view-partners ul {
  margin: 0;
  padding: 0;
}

.view-partners ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}


/** Wedstrijd Pages - tekstblokken **/
/*
.context-wedstrijd h1#page-title {
  display: none;
}
*/

.field-collection-container,
.field-collection-view {
  border: none;
}

.field-name-field-tekstblokken .field-item {
  background: #ebeaea;
  border-radius: 4px;
  padding-bottom: 10px;
}

.field-name-field-tekstblokken .field-item .field-name-field-titel {
  color: #ed0973;
  font-size: 26px;
  margin-bottom: 5px;
}

.field-name-field-tekstblokken .field-item .field-name-field-tekst {
  line-height: 1.3;
}

.field-name-field-tekstblokken .field-item .field-name-field-link a {
  float: right;
  background: #ed0973;
  color: white;
  display: block;
  padding: 4px 15px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 16px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.field-name-field-tekstblokken .field-item .field-name-field-link a:hover {
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	color: #ed0973;
	background: white;
}

/**
 * ARCHIVE STYLES 
#block-block-4 {
  text-align: justify;
}

#block-block-4 h1 {
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
  margin-bottom: 10px;
  text-align: justify;
}

#block-block-4 p {
  margin-bottom: 4px;
}

#webform-client-form-1 {
  margin-top: 50px;
}

#webform-client-form-1 .form-text {
  width: 100%;
  border: 1px solid #ededed;
	color: #2f2c2b;
	padding: 8px;
	height: 30px;
	line-height: 30px;
}

#webform-client-form-1 .form-file {
  color: #2f2c2b;
}

#webform-client-form-1 #edit-actions .form-submit {
  background: #ee0874;
  border: none;
  font-size: 17px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: right; 
  padding: 8px 15px;
  text-shadow: none;
  text-transform: uppercase;
  margin-right: 0;
  margin-bottom: 15px;
}

#block-menu-menu-service-menu {
  margin-top: 30px;
  margin-bottom: 20px;
}

#block-menu-menu-service-menu ul {
  margin: 0;
  padding: 0;
}

#block-menu-menu-service-menu ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  height: 40px;
  line-height: 40px;
}

#block-menu-menu-service-menu ul li a#link-splus {
  display: block; 
  text-indent: -999em;
  overflow: hidden;
  background: url(../img/link-splus.png) no-repeat left top;
  width: 265px;
  height: 40px;
}

#block-menu-menu-service-menu ul li.last {
  float: right;
  margin-top: -5px;
}

#block-menu-menu-service-menu ul li.last a {
  background: #ee0874;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: right; 
  text-shadow: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1px 15px;
	-moz-transition: all 0.4s; 
	-webkit-transition: all 0.4s; 
	-o-transition: all 0.4s; 
  
}

#block-menu-menu-service-menu ul li.last a:hover {
  background: white;
  color: #2f2c2b;
  transition: all 0.4s;
	-moz-transition: all 0.4s; 
	-webkit-transition: all 0.4s; 
	-o-transition: all 0.4s; 
}

*/