#block-hc-sm-hc-sm {
  float: right;  
  text-align: right;
  margin-top: 35px;
}

#block-hc-sm-hc-sm .label {
	margin-bottom: 10px;
}

#block-hc-sm-hc-sm ul {
  float: right;
  list-style: none;
  margin-bottom: 0;
}

#block-hc-sm-hc-sm ul li {
  float: left;
  max-width: 75px;
  margin-right: 10px;
  margin-top: 15px;
}

#block-hc-sm-hc-sm ul li.first {
  margin-right: 15px;
}

#block-hc-sm-hc-sm ul li.last {
  max-width:120px;
  margin-top: 9px;
}

#block-hc-sm-hc-sm ul li .facebook {
  margin-top: 2px;
}

#block-hc-sm-hc-sm ul li .pinterest {
  width: 24px;
  height: 24px;
  background: url(img/icon_pinterest.png) no-repeat left top;
}

#block-hc-sm-hc-sm ul li .pinterest a {
  text-indent: -999em;
  display: block;
}

#block-hc-sm-hc-sm ul li .twitter {
  background: url(img/icon_twitter.png) no-repeat left top;
  width: 24px;
  height: 24px;
}

#block-hc-sm-hc-sm ul li .twitter a {
  text-indent: -999em;
  display: block;
}

#block-hc-sm-hc-sm ul li .linkedin {
  background: url(img/icon_linkedin.png) no-repeat left top;
  width: 24px;
  height: 24px;
}

#block-hc-sm-hc-sm ul li .linkedin a {
  text-indent: -999em;
  display: block;
}