#block-hc-sm-hc-sm {
  float: right;  
  text-align: right;
  margin-top: 20px;
}

#block-hc-sm-hc-sm .label {
	margin-bottom: 10px;
}

#block-hc-sm-hc-sm ul {
  float: right;
  list-style: none;
  margin-bottom: 0;
}

#block-hc-sm-hc-sm ul li {
  float: left;
  max-width: 75px;
  margin-right: 10px;
  margin-top: 9px;
}

#block-hc-sm-hc-sm ul li.first {
  margin-right: 15px;
}

#block-hc-sm-hc-sm ul li.last {
  margin: 0;
  max-width:120px;
  margin-left: 20px;
}